<nav aria-label="Page navigation">
    <ul class="pagination">
        <li ng-click="setCurrent(1)" class="page-item" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a class="page-link" href="#" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" ng-click="setCurrent(pagination.current - 1)" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        <li class="page-item" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
            ng-click="setCurrent(pageNumber)"
            ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }"><a class="page-link" href="#">{{ pageNumber }}</a></li>
        <li class="page-item" ng-click="setCurrent(pagination.current + 1)" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item" ng-click="setCurrent(pagination.last)" ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
            <a class="page-link" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>